.wrapper {
    margin: 50px 150px;

}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 20px;
    border-radius: 5px;

    button {
        padding: 10px 20px;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
    }

    .continue {
        border: 1px solid rgb(0, 255, 55);

        &:hover {
            background-color: rgb(0, 255, 55);
        }
    }

    .btn-delete {
        border: 1px solid red;

        &:hover {
            background-color: red;
            color: white;
        }
    }
}

.qty-cart {
    padding: 10px 20px;
    font-size: 20px;

}

//============CART CONTENT============
.cart-content {
    margin: 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    justify-content: space-between;
}

.left {
    flex: 3;

}

.container-left {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    margin: 5px;




}

.cart-img {
    max-width: 120px;
    display: flex;
    align-items: center;
    border-radius: 5px;

    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.cart-info {

    flex: 1;

    .info {
        display: flex;
        padding: 5px;

    }
}

.cart-total {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px ;



}

.qty {
    display: flex;

    input {
        width: 40px;
        font-size: 20px;
        text-align: center;
        border: none;
        outline: none;
     
    }

}

.icon-remove,
.icon-add {
    cursor: pointer;
    font-size: 18px;

    &:hover {
        color: red;
    }
}

.sub-total {
    text-align: center;
    font-weight: 500;
    padding: 5px 0px;
    color: red;
}


.label {
    min-width: 120px;
    font-weight: 600;

}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 10px;
    border: 1px solid transparent;
    opacity: 0.3;
    cursor: pointer;
}

.size {
    border: none;
    width: 50px;
    outline: none;
    font-size: 18px;
}

.active {
    border: 1px solid black;
    opacity: 1;
}
.action{
    display: flex;
    align-items: center;
    color: red;
    cursor: pointer;
    opacity: 0.7;
    &:hover{
        opacity: 1;
    }
}

.right {
    flex: 1;
    border-left: 1px solid rgb(0, 0, 0, 0.2);
    padding: 10px;
    .title{
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        margin: 10px auto;

    }
}
.item{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.total-checkout{
    color: red;
    font-size: 20px;
    font-weight: bolder;
}
.btn-checkout{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color:white;
    background-color: rgb(10, 98, 10);
    opacity: 0.7;
    text-transform: uppercase;
    &:hover{
        opacity: 1;
    }
}
.empty{
    width: 100%;
    text-align: center;
    padding: 20px;
    color: red;
    
}

