.wrapper {}

.top-header {
    background-color: rgb(0, 128, 128, 0.5);

    h3 {
        text-align: center;
        color: white;
        font-weight: 300;
        font-size: 14px;
        padding: 5px;
        @media screen and (max-width:480px) {
           display: none;
        }
    }
}

//Bottom header
.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: radial-gradient(rgb(255, 255, 255) 2%, rgb(33, 82, 116) 100%);
 

}

.logo {

    h1 {
        background-image: linear-gradient(to center, rgb(0, 128, 128, 0.8), red);
        color: white;
        padding: 10px 12px;
        border-radius: 100px;
        margin-left: 20px;
        cursor: pointer;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
    @media screen and (max-width:480px) {
        flex: 1;
    }
}

.search {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px 20px;
    gap: 50px;
  

}

.wp-search {
    border: 0.5px solid rgb(92, 86, 86);
    border-radius: 100px;
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    overflow: hidden;
    @media screen and (max-width:480px) {
        width: 100%;
        margin: 20px 0px;
    }

    input {
        flex: 1;
        border: none;
        outline: none;
        font-size: larger;
        caret: pink;
        font-weight: 400;
        background: transparent;

    }
}

.icon-search {
    cursor: pointer;

    & :hover {
        color: #0058ff;
    }
}


//Menu
.menu {
    padding: 0px 20px;
  
}

.cart {
    text-align: right;

}

.wp-cart {
    background-color: rgb(221, 221, 238);
    min-width: 200px;
    min-height: 100px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.icon {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    .cart {
        font-size: 30px;
        color: white;

        &:hover {
            color: blue;
        }
    }
}

//INFO CART ITEM
.wrapper-cart {
    max-width: 400px;
    overflow: hidden;

}

.title {
    text-align: center;
    padding: 10px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    opacity: 0.6;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}
.name{
    font-size: 14px;
}

.wp-img {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-self: center;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.wp-info {
    flex: 1;

    font-size: 14px;
}

.label {
    font-weight: bolder;
    margin-right: 10px;
    width: 80px;
    font-size: 14px;
}
.empty-cart{
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px 10px;

}

.order-button {
    outline: none;
    border: none;
    background-color: aqua;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }

    font-size: larger;
    font-weight: 500;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media screen and (max-width:480px) {
      display: none;
    }
    

}

//MENU
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media screen and (max-width:480px) {
        width: 100%;
        justify-content:space-between;
        margin: 10px;
    }
}